DATABASE_URL="postgresql://postgres:postgres@localhost:5432/baytalmosawer?schema=public"
NEXTAUTH_SECRET="your-nextauth-secret-key-at-least-32-characters-long"
NEXTAUTH_URL="http://localhost:3000"
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="..."
